.container{
    width: 1500px;
    margin:auto;
    /* position: relative; */
    
}
.resim{
    float:left;
    padding:0 10px 10px 0;
    display: inline-block;
        position: relative;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;  
}
.resim img{
    width: auto;
        height: 170%;
        margin-left: 0;
}
.row{
    margin-top: 100px;
}